block content
    h1= title
    form(name="add-estimation", method="post")
        div.input
            span.label Firstname
            input(type="text", name="firstname")
            div.input
            span.label Lastname
            input(type="text", name="lastname")
        div.actions
            input(type="submit", value="add")

