if errors
  ul
    for error in errors
        
      li!= error.message
block content
    h1= title
    form(name="add-estimation", method="post")

        div.input
            span.label Firstname
            input(type="text", name="firstname")
            div.input
            span.label Lastname
            input(type="text", name="lastname")

            div.input
            span.label Email
            input(type="text", name="email")

            div.input
            span.label Phone Number
            input(type="text", name="number")

            div.input
            span.label Username
            input(type="text", name="username" required, data-required-msg="Username is required")

            div.input
            span.label Password
            input(type="password", name="password")

            div.input
            span.label Confirm Password
            input(type="password", name="cpassword")

        div.actions
            input(type="submit", value="Register")

