if errors
  ul
    for error in errors
        
      li!= error.message
if messages
  ul
      li!= messages
block content
    h1= title
    form(name="add-estimation", method="post")

        div.input
            span.label Firstname
            input(type="text", name="firstname" required, data-required-msg="Firstname is required")
            div.input
            span.label Lastname
            input(type="text", name="lastname" required, data-required-msg="Lastname is required")

            div.input
            span.label Email
            input(type="text", name="email" required, data-required-msg="Email is required")

            div.input
            span.label Phone Number
            input(type="text", name="number" required, data-required-msg="Phone number is required")

            div.input
            span.label Username
            input(type="text", name="username" required, data-required-msg="Username is required")

            div.input
            span.label Password
            input(type="password", name="password" required, data-required-msg="Password is required")

            div.input
            span.label Confirm Password
            input(type="password", name="cpassword" required, data-required-msg="Confirm Password is required")

        div.actions
            input(type="submit", value="Register")

